<footer class="m-2 md:mt-12 md:mb-1 text-center text-light md:text-sm text-body">
    <div class="flex justify-center space-x-4 my-2">
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.twitter }}"
             rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.youtube }}"
             rel="noopener noreferrer" target="_blank"><i class="fab fa-youtube fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.github }}"
             rel="noopener noreferrer" target="_blank"><i class="fab fa-github fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.linked_in }}"
             rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.instagram }}"
             rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.rss_feed }}"  rel="noopener noreferrer" target="_blank"><i class="fas fa-rss fa-lg"></i></a>
    </div>
    <p>&copy;The Delisle Domain</p>
    <p>Made with
        <a class="text-primary" href="https://www.netlify.com/">Netlify</a>,
        <a class="text-primary" href="https://tailwindcss.com/">Tailwindcss</a>,
        <a class="text-primary" href="https://www.11ty.dev/">11ty</a>,
        and ☕️
    </p>
</footer>