<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/main.css" />
  <script src="https://kit.fontawesome.com/748a6d66ca.js" crossorigin="anonymous"></script>
  
  {% block postMeta %}

  {% endblock %}


  <link href="https://fonts.googleapis.com/css?family=Righteous|Staatliches&display=swap" rel="stylesheet" />
  <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap"
      rel="stylesheet">

  {# Tab Icon #}
  <!-- for FF, Chrome, Opera -->
  <link rel="icon" type="image/png" href="/images/uploads/internet_102151.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/uploads/internet_102151.png" sizes="32x32">

  <!-- for IE -->
  <link rel="icon" type="image/x-icon" href="/images/uploads/internet_102151.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/images/uploads/internet_102151.ico" />

  {# analytics #}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6658GEX579"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6658GEX579');
  </script>

  <title> {% block titleMeta %}{% endblock %} </title>
 
</head>



<body class="flex flex-col min-h-screen">
  <header class="container mx-auto flex flex-col md:flex-row content-center md:justify-between h-24 mb-8 border-b-2 border-prime_text sticky md:static top-0 bg-secondary">
    <div class="mx-auto my-auto md:mx-0 lg:ml-4">
      <h1 class="flex items-center">
        <a href="/" class="font-display text-4xl">&lt; The Delisle Domain /&gt;</a>
      </h1>
      <div class="flex justify-center space-x-10 md:space-x-4">
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.twitter }}" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.youtube }}" target="_blank"><i class="fab fa-youtube fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.github }}" target="_blank"><i class="fab fa-github fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.linked_in }}" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.instagram }}" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
        <a class="transform hover:text-primary hover:scale-125 duration-300" href="{{ settings.rss_feed }}" target="_blank"><i class="fas fa-rss fa-lg"></i></a>
      </div>
    </div>
    <nav class="hidden md:flex md:flex-row items-center">
      <ul class="mx-auto flex justify-evenly text-2xl flex-grow">
        <li><a class="hover:text-primary p-3 font-display lg:px-5 xl:px-8"href="/">Home</a></li>
        <li><a class="hover:text-primary is_{{ 'active' if '/blog' in page.url }} p-3 font-display lg:px-5 xl:px-8" href="/blog">Blog</a></li>
        <li><a class="hover:text-primary is_{{ 'active' if '/about' in page.url }} p-3 font-display lg:px-5 xl:px-8" href="/about">About</a></li>
        <li><a class="hover:text-primary is_{{ 'active' if '/contact' in page.url }} p-3 font-display lg:px-5 xl:px-8" href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  {% block postContent %} {% block content %}{{ content | safe }}{% endblock%} {% endblock %}

  <div style="flex-grow:1"></div>
  
  {% include "_footer.njk" %}
  
  {# mobile bottom nav #}
  <nav class="md:hidden sticky flex bottom-0 bg-secondary h-24 mt-1 border-t-2 border-primary">
      <ul class="mx-auto flex justify-evenly text-2xl items-center flex-grow">
        <li><a class="p-3"href="/">Home</a></li>
        <li><a class="hover:text-primary is_{{ 'active' if '/blog' in page.url }} p-3" href="/blog">Blog</a></li>
        <li><a class="hover:text-primary is_{{ 'active' if '/about' in page.url }} p-3" href="/about">About</a></li>
        <li><a class="hover:text-primary is_{{ 'active' if '/contact' in page.url }} p-3" href="/contact">Contact</a></li>
      </ul>
    </nav>
  {% include "_scripts.njk" %}
</body>

</html>