:root {
  /* colors */
  --global-bg-color: #1f2226;
  --global-heading-text-color: #3aafa9;
  --global-primary-text-color: #feffff;
  --global-secondary-text-color: #bacfc1;

  /* Font size */
  --global-h1-text-size: 1.5rem;
  --global--h2-text-size: 1.1667rem;
  --global-base-text-size: 24px;
  --global-h4-text-size: 0.75rem;
  --global-h5-text-size: 0.5833rem;

  /* fonts */
  --global-primary-font: Staatliches, sans-serif, monospace;
  --global-secondary-font: Righteous, sans-serif, monospace;

  background-color: var(--global-bg-color);
  font-size: var(--global-base-text-size);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}

h1 {
  color: var(--global-heading-text-color);
  font-size: var(--global-h1-text-size);
}

h4 {
  color: teal;
  font-size: var(--global-h4-text-size);
}

a {
  text-decoration: none;
}