:root {
  /* colors */
  --global-bg-color: #1f2226;
  --global-heading-text-color: #3aafa9;
  --global-primary-text-color: #feffff;
  --global-secondary-text-color: #bacfc1;

  /* Font size */
  --global-h1-text-size: 1.5rem;
  --global--h2-text-size: 1.1667rem;
  --global-base-text-size: 24px;
  --global-h4-text-size: 0.75rem;
  --global-h5-text-size: 0.5833rem;

  /* fonts */
  --global-primary-font: Staatliches, sans-serif, monospace;
  --global-secondary-font: Righteous, sans-serif, monospace;

  background-color: var(--global-bg-color);
  font-size: var(--global-base-text-size);
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  color: var(--global-heading-text-color);
  font-size: var(--global-h1-text-size);
}

h4 {
  color: teal;
  font-size: var(--global-h4-text-size);
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  height: 115px;
  max-width: 80%;
  margin: auto;
  border-bottom: solid white 2px;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding-right: 1rem;
  padding-top: 1rem;
}

nav a {
  font-size: var(--global-base-text-size);
  color: var(--global-primary-text-color);
  padding: 20px;
  text-decoration: none;
  font-family: var(--global-primary-font);
  text-transform: uppercase;
}

nav a:hover {
  color: var(--global-heading-text-color);
}

.is_active {
  color: var(--global-secondary-text-color);
}

.logo {
  display: inline-block;
  padding-left: 2rem;
}

.logo a {
  color: var(--global-heading-text-color);
  text-decoration: none;
  font-family: var(--global-primary-font);
  text-transform: uppercase;
}

/* HERO SECTION */

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

.portrait-container {
  position: relative;
  width: 400px;
  height: 550px;
  overflow: hidden;
  margin: 0 2rem;
}

.portrait-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.text-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
  font-family: var(--global-secondary-font);
  text-align: center;
  align-items: center;
  max-width: 750px;
}

.text-container h1 {
  font-family: var(--global-primary-font);
}

.text-container p {
  color: var(--global-primary-text-color);
}
.word-banner {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word-banner h4 {
  margin: 0.75rem;
  color: var(--global-secondary-text-color);
}

.word-banner p {
}

.word-banner .odd h4 {
}

/* Recent Blog Post Section */
.recent-post {
  max-width: 80%;
  margin: 4rem auto;
  max-width: 900px;
  border: solid var(--global-secondary-text-color) 2px;
  padding: 1rem;
}

.recent-post:hover {
  background-color: rgba(186, 207, 193, 0.2);
  border: solid rgba(186, 207, 193, 0.2) 2px;
}

.recent-post h3 {
  font-family: var(--global-primary-font);
  color: var(--global-heading-text-color);
  text-align: center;
}

.post-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post-container article {
  display: inline-block;
  font-family: var(--global-secondary-font);
  color: var(--global-primary-text-color);
  text-align: center;
}

.post-container article a {
  text-decoration: none;
  color: var(--global-primary-text-color);
}

.post-container article h6 {
  color: var(--global-secondary-text-color);
}

.post-container img {
  width: auto;
  height: 250px;
}
