{% extends "base.njk" %}
{% block postContent %}
<section class="container mx-auto flex justify-evenly">
    <div class="container mx-auto px-10 py-6 flex flex-col md:flex-row-reverse">
        <div class="h-auto w-3/5 p-4 mx-auto my-auto">
            <img src="/images/uploads/IMG_2034.jpg" title="Glacier Bay, Alaska" alt="" class="rounded-lg lg:rounded-full p-6">
        </div>
        <div class="container mx-auto">
            <h2 class="text-primary font-display pb-2">Howdy, and welcome to my blog! </h2>
            <p class="text-base">
                Let me formally introduce myself - My name is <span class="text-primary">Jay Delisle</span>. I currently work as a
                <span class="text-primary">software
                    automation engineer </span>.
                <br>
                <br>
            </p>
            <p class="text-base">
                I mainly work with Python while at my day job, but I am learning web development and Javascript in the after
                hours! I use this blog as a place where I can help others in the life-learning
                journey of being a software engineer. I've been programming since highschool - however, I graduated college
                with a
                degree in Mechanical Engineering. I'm a mechie turned software engineer. I want to take you along on this
                process to
                help you learn, and to share with you the knowledge that I acquire along the way.
                <br>
                <br>
                I'm an engineer at heart - I love to tinker, solve problems, and see how things work. I like to
                build and create both with my hands and with my mind.
                <br>
                <br>
                Aside from code - I'm passionate about motorcycles, cars, and I enjoy spending time outdoors.
                <br>
                <br>
                I'm looking
                forward for you to get to know me and learn with me as I dive into software, tech, and business.
            </p>
        </div>
    </div>
    
</section>



{% endblock %}