
{% extends "base.njk" %}
{% block postContent %}
<div class="posts-container">
  <ol>
    {% for post in collections.blogs | reverse %}
    <li class="post-stub">
      <strong>
        <a href="{{ post.url }}">
          <h1 class="stub-title">{{ post.data.title }}</h1>
          <h3 class="stub-description">{{ post.data.description }}</h3>
        </a>
      </strong>
      <div class="info-right">
        <time datetime="{{ post.date.toString() }}">{{ post.date.toDateString() }}</time>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}