
{% extends "base.njk" %}
{% block postContent %}
<div>
  <ol class="space-y-8 mx-auto">
    {% for post in collections.blogs | reverse %}
    <div class="m-10">
    <li class="container mx-auto flex md:flex-row flex-col justify-between p-4 border-light border-2 rounded-lg shadow-3xl hover:bg-light">
      <strong>
        <a href="{{ post.url }}">
          <h1 class="text-primary font-display text-xl md:text-2xl lg:text-3xl md:max-w-3xl" xl:max-w-none>{{ post.data.title }}</h1>
          <div class="md:hidden">
            <time class="font-body text-sm" datetime="{{ post.date.toString() }}">{{ post.date.toDateString() }}</time>
        </div>
          <h3 class="pt-4 font-body text-base md:text-lg lg:text-2xl md:max-w-3xl xl:max-w-none">{{ post.data.description }}</h3>
        </a>
      </strong>
      <div class="hidden md:block ml-8 w-56 text-right">
          <time class="font-body text-sm md:text-base lg:text-lg" datetime="{{ post.date.toString() }}">{{ post.date.toDateString() }}</time>
      </div>
    </li>
    </div>
    {% endfor %}
  </ol>
</div>
{% endblock %}