{% extends "base.njk" %}
{% block postContent %}
<div class="container mx-auto text-center">
    <h1 class="font-display text-primary">Questions?</h1>
    <h4 class="text-xs">If you have any questions at all, or if there is something you want me to check out, then
        let me know below!</h4>
    <p class="text-xs">I'm always up for learning something new and/or helping others!</p>
</div>

<form name="DelisleDomainContact" action="POST" netlify class="flex flex-col p-4 text-center">
    <label class="block" for="name">Name: <input type="text" name="name" id="name" required="required" class="form-input focus:border-primary h-8"></label>
    <div hidden aria-hidden="true">
        <label for="">Don't fill this out if human <input type="hidden" name="bot-text"></label>
    </div>
    <label class="block" for="message">Message:<textarea name="message" id="message" required="required" class="form-input focus:border-primary h-24"></textarea></label>
    <button type='submit' class="font-body text-primary p-2 m-4 h-10 border-2 border-primary w-24 rounded-lg hover:bg-primary hover:text-secondary duration-300 mx-auto">Submit</button>
</form>
{% endblock %}