---
layout: 'base.njk'
permalink: '/'
---

<div class="main-container">
    <div class="portrait-container">
        <img src="/images/uploads/bio-grayscale.jpg" alt="">
    </div>

    <div class="text-container">
        <h1>Welcome to my Blog</h1>
        <div class="word-banner">
            <span class="odd">
                <h4>Python</h4>
            </span>
            <span class="even">
                <h4>JavaScript</h4>
            </span>
            <span class="odd">
                <h4>Django</h4>
            </span>
            <span class="even">
                <h4>Tech</h4>
            </span>
            <span class="odd">
                <h4>Freelance</h4>
            </span>
            <span class="even">
                <h4>Business</h4>
            </span>
            <span class="odd">
                <h4>Software Development</h4>
            </span>
        </div>
        <p>
            Here I share all things tech, software development, and business - things that I am passionate about. Join me as I continue to share what I'm learning!
        </p>
    </div>
</div>

<div class="recent-post">
    <h3>Check out my latest posts</h3>
    {% for post in collections.blogs %}
    <div class="post-container">
        <article>
            <a href="{{ post.url }}">
                <h4>{{ post.data.title }}</h4>
                <h6>{{ post.data.date.toDateString() }}</h6>
                <h5>{{ post.data.description }}</h5>
            </a>
        </article>
        <img src="{{ post.data.featuredImage }}" alt="">
    </div>
    {% endfor %}
</div>